[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/sjtu-ai-go/googletest.git
[submodule "vendor/libgoboard"]
	path = vendor/libgoboard
	url = https://github.com/sjtu-ai-go/libgoboard.git
